doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vue/dist/vue.min.js')
  body
    block content
    include _combatant.jade
    script(type='text/javascript', src='/javascripts/app.js')
